@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hkk6gu');
	src:url('../fonts/icomoon.eot?#iefixhkk6gu') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hkk6gu') format('woff'),
		url('../fonts/icomoon.ttf?hkk6gu') format('truetype'),
		url('../fonts/icomoon.svg?hkk6gu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e601";
}
.icon-bars:before {
	content: "\e602";
}
.icon-fire:before {
	content: "\e603";
}
.icon-lightning:before {
	content: "\e604";
}
.icon-blocked:before {
	content: "\e605";
}


body {
	font-family: 'Open Sans', sans-serif;
	width:100%;
	margin:0px;
	padding:0px;
	background:#fbfbfb;
	font-size:13px;
}

a {
	color:#666;
}

#sheet {
	
}

.copy {
	font-size: 10px;
}

.inner {
	width:1024px;
	margin-left:auto;
	margin-right:auto;	
}

.overlay{
	padding-top:50px;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0.7);
	z-index:9999;
	display:none;
}

.spacer{
	height: 30px;
}

.spacer2{
	height: 20px;
}

.spacer3 {
	height: 20px;
	border-bottom: 1px solid #d0e0e3; 
}

#header {
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	background:#fbfbfb;
	z-index:999;
}

#header .top {
	overflow:hidden;
	height:60px;
}



#header .menu-top {
	padding-top:10px;
	text-transform:uppercase;
}
#header .tagline {
	margin-top:14px;
	text-align:right;
	color:#003d7e;
	font-weight:bold;
	font-size:13px;
}

#header .menu-top ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#header .menu-top li {
	float:left;
}

#header .menu-top li a {
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
	margin-left: 2px;
	font-size: 11px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;	
	border-radius:5px;
	color:#666;
}

#header .menu-top .login {
}



#header .menu-top .form_login {
	padding:20px;
	padding-left:15px;
	padding-right:15px;
	display:none;
	position:absolute;
	margin-top:-45px;
	margin-left:-3px;
	width:240px;
	height:170px;
	background:#fff;
	box-shadow:#000 0px 0px 5px;
	z-index: 9999;
}

#header .menu-top .form_login a{
	display:inline;
	background:none;
	width:auto;
	height:auto;
	padding:0px;
	margin:0px;
}

#header .menu-top .form_login a:hover{
	background:none;
	color:#000;
}

#header .menu-top .login:hover .form-login {
	display:block;
}

#header .menu-top li a:hover, #header .menu-top li .active {
	text-decoration:none;
	color:#fff;
	border-radius:5px;
	background: #b20838; /* Old browsers */
background: -moz-linear-gradient(top,  #b20838 0%, #ff1100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b20838), color-stop(100%,#ff1100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b20838 0%,#ff1100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b20838 0%,#ff1100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b20838 0%,#ff1100 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b20838 0%,#ff1100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20838', endColorstr='#ff1100',GradientType=0 ); /* IE6-9 */

}



#header .menu-login {
	display:none;
	width:200px;
	height:200px;
	background:#FFF;
	padding:10px;
}


#header .menu-middle {
	background:#000;
	height:23px;
	color:#fff;
	font-size:12px;
	
	overflow:hidden;
}

#header .logo-bottom {
	background: -moz-linear-gradient(top, #b20838 0%, #ff1100 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b20838), color-stop(100%,#ff1100));
background: -webkit-linear-gradient(top, #b20838 0%,#ff1100 100%);
background: -o-linear-gradient(top, #b20838 0%,#ff1100 100%);
background: -ms-linear-gradient(top, #b20838 0%,#ff1100 100%);
background: linear-gradient(to bottom, #b20838 0%,#ff1100 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20838', endColorstr='#ff1100',GradientType=0 );
	text-align:center;
	color:#fff;
	padding-top:2px;
	padding-bottom:2px;
}
#header .status-user {
	padding-top:2px;
	padding-bottom:2px;
	font-size:10px;
}

#header .menu-bottom {
	background:#888d8e;
	box-shadow:#000000 0px 1px 3px;
}

#header .menu-bottom ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#header .menu-bottom li {
	float:left;
	
}

#header .menu-bottom li a {
	padding:10px;
	padding-bottom:5px;
	padding-top:5px;
	color:#fff;
	text-transform:uppercase;
	margin-right:5px;
	display:block;
	font-size:11px;
}

#header .menu-bottom li a:hover {
	background:#fff;
	text-decoration:none;
	color:#666;
}

#content {
	margin-bottom:30px;
}

#content #main {
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 155px;
}

#map {
	background:url(../img/map.jpg) center top no-repeat;
	height:800px;
}

#map .marker {
	width:40px;
	height:40px;
	position:absolute;
	cursor:pointer;
}

#map .yellow {
	background:url(../img/marker_yellow.png) no-repeat center center;
}

#map .red {
	background:url(../img/marker_red.png) no-repeat center center;
}

#map .popup {
	display:none;
	background:rgba(0,0,0,0.7);
	width:200px;
	height:50px;
	position:absolute;
	margin-top:-70px;
	margin-left:20px;
	padding:10px;
	color:#FFF;
	font-size:12px;
	line-height:13px;
}
#map .popup h5{
	margin:0px;
}
#map .popup .bg {
	background: url(../img/map_pop_up_alert.png) no-repeat left top;
	position:absolute;
	margin-top:60px;
	margin-left:-10px;
	width:30px;
	height:20px;
}

#map .marker:hover .popup {
	display:block;
}

#list_components {
	width:800px;
	height:500px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background:#fff;
	
}



#footer {
	background:#FFF;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height:30px;
	z-index:999;
	-webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.75);
}

#footer .severity {
	background:#171717;
	color:#fff;
}

#footer .severity .title {
	background:#171717;
	padding:5px;
	padding-left:10px;
	font-size:11px;
	text-align:center;
}
#footer .severity .status {
	background: #242424 url(../img/bg_severity_footer.png) no-repeat left top;
	padding:5px;
	padding-left:50px;
}

#footer .severity .status .bar-green {
	height:10px;
	width:10px;
	display:inline-block;
	background:#73c900;
	margin-left:10px;
	
}
#footer .severity .status .bar-yellow {
	height:10px;
	width:10px;
	display:inline-block;
	background:#d3e000;
	margin-left:10px;
}
#footer .severity .status .bar-red {
	height:10px;
	width:10px;
	display:inline-block;
	background:#d30000;
	margin-left:10px;
}

.header-map-detil {
	border-bottom: 1px solid #d0e0e3;
	vertical-align: center;
}

.status-haccode {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 150px;
}

.status-haccode h2 {
	font-size:26px;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}

.title-condition {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
}
.title-condition h2 {
	font-size:26px;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}

.status-sever {
	padding: 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 67px;
}

.inspection {
	padding: 25px 9px 9px 9px;
	border-right: 1px solid #d0e0e3;
	max-width: 175px;
}

.inspection_cat {
	margin: 30px auto 15px auto;
	text-align: center;
}

.inspection_cat a{
	color: #333;
}

.inspection_cat a:hover{
	color: #005580;
	text-decoration: none;
}

.inspection_cat_d {
	margin: 0px 20px 0px 0px;
}

.red {
	background-color: #ff0024;
	border-radius: 5px;
	border-bottom: #d10e00 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

.yellow {
	background-color: #ffe011;
	border-radius: 5px;
	border-bottom: #dec311 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

.green {
	background-color: #89d91d;
	border-radius: 5px;
	border-bottom: #69a813 solid 4px;
	width:37px;
	height:32px;
	padding:5px;
}

#pic-container {
	border-right: 1px solid #d0e0e3;
	padding: 13px 9px 9px 9px;
	height: 42px;
	margin: auto;
}

#pic-container .thumb {
	border: 2px solid #888d8e;
	border-radius: 3px;
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 5px;
}

#pic-container .name {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .nip {
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .name {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3d3d3d;
	font-weight: 100;
}

#pic-container .nip {
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#3d3d3d;
	font-weight: 100;
}

.back-btn {
	text-align: right;
	padding: 17px 9px 9px 9px;
}

.jump-btn {
	float: left;
	padding: 17px 9px 9px 9px;
}

.icon-inspection {
	font-size: 24px;
	margin-right: 10px;
}

.icon-inspection-top {
	font-size: 24px;
	margin-right: 20px;
}
.first {
	float: left;
	min-width: 150px;
}

.second {
	margin-left: 15px;
	min-width: 150px;
}

.sparepart {
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.sparepart  h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 100;
}

.kiln {
	text-align: center;
	margin: 0 auto 30px auto;
}

.stack {
	text-align: center;
	margin: 0 auto 0 auto;
}

#area-sum {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

#area-sum h3{
	font-size: 20px;
	margin-top: -12px;
}

#area-sum ul {
	margin: 0 0 10px 0px;
}

#area-sum ul > li {
	list-style:none;
	display:inline;
	line-height: 52px;
}

#area-sum .b-red a{
	background-color: #ff0024;
	border-radius: 5px;
	border-bottom: #d10e00 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #fff;
}

#area-sum .b-red a:hover{
	background-color: #f70023;
	border-bottom: #c80d00 solid 4px;
	text-decoration:none;
}

#area-sum .b-yellow a{
	background-color: #ffe011;
	border-radius: 5px;
	border-bottom: #dec311 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #574c00;
}

#area-sum .b-yellow a:hover{
	background-color: #f4d507;
	border-bottom: #d2b910 solid 4px;
	text-decoration:none;
}

#area-sum .b-green a{
	background-color: #89d91d;
	border-radius: 5px;
	border-bottom: #69a813 solid 4px;
	width:37px;
	height:32px;
	padding:12px;
	color: #fff;
}

#area-sum .b-green a:hover{
	background-color: #84d01d;
	border-bottom: #629d11 solid 4px;
	text-decoration:none;
}