/*-----------------------------------------------------------------------------

	-	Revolution Slider 1.5.3 -

		Screen Stylesheet

version:   	2.1
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------

	-	Revolution Slider 2.0 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



/*************************
	-	CAPTIONS	-
**************************/

.tp-hide-revslider,.tp-caption.tp-hidden-caption	{	visibility:hidden !important; display:none !important;}

.tp-caption { z-index:1;}
.tp-caption .slider_img_pur {
	width: 450px;
	height: 500px;
}
.tp-caption.main_text{
			position: absolute;
			text-transform: uppercase;
    		color: #272727;
    		font-size: 57px;
			line-height: 57px;
		}
.tp-caption.main_text i {
    		color: #0099cc;
		}

.tp-caption.sub_text{
			position: absolute;
    		color: #272727;
			font-weight: normal;
    		font-size: 18px;
			line-height: 18px;
		}

.tp-caption. ul.list_text{
			position: absolute;
			padding: 0;
			margin: 0;
		}

.tp-caption .list_text li{
			padding: 0 0 0px 25px;
			margin: 0;
    		color: #454545;
			line-height: 38px;
			font-weight: normal;
    		font-size: 14px;
			list-style-type: none;
			background: url(http://images/slider/tickmark-icon.png) no-repeat left 12px;
		}

.tp-caption.sub_text2{
			position: absolute;
    		color: #454545;
			font-weight: normal;
    		font-size: 14px;
			text-align: center;
			line-height: 22px;
		}
.tp-caption.sub_text2 i{
    		color: #009900;
		}

.tp-caption.price{
			position: absolute;
    		color: #727272;
			font-weight: normal;
    		font-size: 14px;
			text-align: center;
			width: 130px;
			height: 103px;
			line-height: 18px;
			padding-top: 40px;
			background: url(http://images/slider/price-bg-icon.png) no-repeat left top;
		}
		
.tp-caption.price i{
			color: #009900;
			font-weight: normal;
    		font-size: 36px;
			padding-top: 18px;
			display: block;
		}


.tp-caption.button1{
	position: absolute;
	min-height: 50px;
	padding: 0;
	margin: 0;
	background: url(http://images/slider/button-right-arrow1.png) no-repeat right top;
		}
		
.tp-caption a.button1-s{
	display: block;
	padding: 0px 25px 0 15px;
	margin: 0 15px 0 0;
	background: #0099cc url(http://images/slider/arrow-1.png) no-repeat right 18px;
	min-height: 50px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	border-left: 5px solid #0087b7;
}

.tp-caption a.button1-s:hover {
	color: #00e4f8;
}

.tp-caption.button2{
			position: absolute;
	min-height: 50px;
	padding: 0;
	margin: 0;
	background: url(http://images/slider/button-right-arrow2.png) no-repeat right top;
		}
		
.tp-caption a.button2-s{
	display: block;
	padding: 0px 25px 0 15px;
	margin: 0 15px 0 0;
	background: #009900 url(http://images/slider/arrow-1.png) no-repeat right 18px;
	min-height: 50px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	border-left: 5px solid #008700;
}

.tp-caption a.button2-s:hover {
	color: #00e400;
}

.tp-caption.large_black_text{
			position: absolute;
			color: #000;
			text-shadow: none;
			font-weight: 300;
			font-size: 42px;
			line-height: 42px;
			font-family: 'Open Sans', sans;
			margin: 0px;
			border-width: 0px;
			border-style: none;
			white-space:nowrap;
		}



/******************************
	-	BUTTONS	-
*******************************/

.button				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;
						cursor:pointer;
						color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
						background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
					}

.button.big			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}


.purchase:hover,
.button:hover,
.button.big:hover		{	background-position:bottom, 15px 11px;}



@media only screen and (min-width: 768px) and (max-width: 999px) {

.tp-caption. ul.list_text{
			position: absolute;
			padding: 0;
			margin: 0;
}

.tp-caption .list_text li{
			padding: 0 0 0px 22px;
			line-height: 35px;
    		font-size: 12px;
			background: url(http://images/slider/tickmark-icon.png) no-repeat left 11px;
}
.tp-caption.sub_text2{
			position: absolute;
    		color: #454545;
			font-weight: normal;
    		font-size: 16px;
			text-align: center;
			line-height: 22px;
			margin-top: 5px;
			margin-left: 30px;
}
.tp-caption.price{
			position: absolute;
    		color: #727272;
			font-weight: normal;
    		font-size: 16px;
			text-align: center;
			width: 130px;
			height: 103px;
			line-height: 20px;
			padding-top: 50px;
			background: url(http://images/slider/price-bg-icon.png) no-repeat left top;
}
		
.tp-caption.price i{
			color: #009900;
			font-weight: normal;
    		font-size: 36px;
			padding-top: 18px;
			display: block;
}

.tp-caption.button1{
	position: absolute;
	min-height: 40px;
	padding: 0;
	margin: 20px 0 0 0;
	background: url(http://images/slider/button-right-arrow1.png) no-repeat right -4px;
		}
		
.tp-caption a.button1-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #0099cc url(http://images/slider/arrow-1.png) no-repeat right 14px;
	min-height: 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	border-left: 5px solid #0087b7;
}
.tp-caption.button2{
	position: absolute;
	min-height: 40px;
	padding: 0;
	margin: 20px 0 0 20px;
	background: url(http://images/slider/button-right-arrow2.png) no-repeat right -4px;
		}
		
.tp-caption a.button2-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #009900 url(http://images/slider/arrow-1.png) no-repeat right 14px;
	min-height: 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	border-left: 5px solid #008700;
}


}



@media only screen and (min-width: 480px) and (max-width: 767px) {
.tp-caption. ul.list_text{
			position: absolute;
			padding: 0;
			margin: 0;
}
.tp-caption .list_text li{
			padding: 0 0 0px 22px;
			line-height: 25px;
    		font-size: 12px;
			background: url(http://images/slider/tickmark-icon.png) no-repeat left 5px;
}
.tp-caption.sub_text2{
			display: none;
}
.tp-caption.price{
	display: none;
}
.tp-caption.button1{
	position: absolute;
	min-height: 36px;
	padding: 0;
	margin: 50px 0 0 0;
	background: url(http://images/slider/button-right-arrow1.png) no-repeat right -6px;
}		
.tp-caption a.button1-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #0099cc url(http://images/slider/arrow-1.png) no-repeat right 12px;
	min-height: 36px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 36px;
	text-transform: uppercase;
	border-left: 5px solid #0087b7;
}
.tp-caption.button2{
	position: absolute;
	min-height: 36px;
	padding: 0;
	margin: 50px 0 0 110px;
	background: url(http://images/slider/button-right-arrow2.png) no-repeat right -6px;
}		
.tp-caption a.button2-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #009900 url(http://images/slider/arrow-1.png) no-repeat right 12px;
	min-height: 36px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 36px;
	text-transform: uppercase;
	border-left: 5px solid #008700;
}


}



@media only screen and (min-width: 0px) and (max-width: 479px) {

.tp-caption. ul.list_text{
			position: absolute;
			padding: 0;
			margin: 0;
}
.tp-caption .list_text li{
			padding: 0 0 0px 22px;
			line-height: 18px;
    		font-size: 10px;
			background: url(http://images/slider/tickmark-icon.png) no-repeat left 3px;
}
.tp-caption.sub_text2{
			display: none;
}
.tp-caption.price{
	display: none;
}
.tp-caption.button1{
	position: absolute;
	min-height: 26px;
	padding: 0;
	margin: 70px 0 0 0;
	background: url(http://images/slider/button-right-arrow1.png) no-repeat right -11px;
}		
.tp-caption a.button1-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #0099cc url(http://images/slider/arrow-1.png) no-repeat right 6px;
	min-height: 26px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	line-height: 26px;
	text-transform: uppercase;
	border-left: 5px solid #0087b7;
}
.tp-caption.button2{
	position: absolute;
	min-height: 26px;
	padding: 0;
	margin: 70px 0 0 250px;
	background: url(http://images/slider/button-right-arrow2.png) no-repeat right -11px;
}		
.tp-caption a.button2-s{
	display: block;
	padding: 0px 20px 0 10px;
	margin: 0 15px 0 0;
	background: #009900 url(http://images/slider/arrow-1.png) no-repeat right 6px;
	min-height: 26px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 26px;
	text-transform: uppercase;
	border-left: 5px solid #008700;
}


}






/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img			{ -webkit-transform: translateZ(0);
										  -webkit-backface-visibility: hidden;
										  -webkit-perspective: 1000;
									}


/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute; visibility: hidden;

}

.tp-simpleresponsive img	{	max-width:none;}



/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
	filter:none !important;
}



/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

.tp-caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.tp-caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/

.tpclear		{	clear:both;}


.tp-bullets								{	z-index:1000; position:absolute;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
												-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;
											}
.tp-bullets.hidebullets					{
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
												-moz-opacity: 0;
												-khtml-opacity: 0;
												opacity: 0;
											}


.tp-bullets.simplebullets.navbar						{ 	border:1px solid #666; border-bottom:1px solid #444; background:url(../assets/boxed_bgtile.png); height:40px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}

.tp-bullets.simplebullets.navbar-old					{ 	 background:url(../assets/navigdots_bgtile.png); height:35px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}


.tp-bullets.simplebullets.round .bullet					{	cursor:pointer; position:relative;	background:url(../assets/bullet.png) no-Repeat top left;	width:20px;	height:20px;  margin-right:0px; float:left; margin-top:-10px; margin-left:3px;}
.tp-bullets.simplebullets.round .bullet.last			{	margin-right:3px;}

.tp-bullets.simplebullets.round-old .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets.png) no-Repeat bottom left;	width:23px;	height:23px;  margin-right:0px; float:left; margin-top:-12px;}
.tp-bullets.simplebullets.round-old .bullet.last		{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}
.tp-bullets.simplebullets.square .bullet.last			{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square-old .bullet			{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}
.tp-bullets.simplebullets.square-old .bullet.last		{	margin-right:0px;}


/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet			{	cursor:pointer; position:relative;	background:url(../assets/bullet_boxed.png) no-Repeat top left;	width:18px;	height:19px;   margin-right:5px; float:left; margin-top:10px;}

.tp-bullets.simplebullets.navbar .bullet.first		{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar .bullet.last		{	margin-right:0px !important;}



/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar-old .bullet			{	cursor:pointer; position:relative;	background:url(../assets/navigdots.png) no-Repeat bottom left;	width:15px;	height:15px;  margin-left:5px !important; margin-right:5px !important;float:left; margin-top:10px;}
.tp-bullets.simplebullets.navbar-old .bullet.first		{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar-old .bullet.last		{	margin-right:0px !important;}


.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected				{	background-position:top left; }

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected		{	background-position:bottom left; }



/*************************************
	-	TP ARROWS 	-
**************************************/
.tparrows												{	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
															-moz-opacity: 1;
															-khtml-opacity: 1;
															opacity: 1;
															-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;

														}
.tparrows.hidearrows									{
															-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
															-moz-opacity: 0;
															-khtml-opacity: 0;
															opacity: 0;
														}
.tp-leftarrow											{ margin-left: -20px;	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_left.png) no-Repeat top left; width:26px; height:75px;   }
.tp-rightarrow											{ margin-right: -20px;	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_right.png) no-Repeat top left;	width:26px;	height:75px;   }


.tp-leftarrow:hover,
.tp-rightarrow:hover 									{	background-position:bottom left; }





